.button {
    --font-color: '';
    --background-color: '';
    --font-color--hover: var(--font-color);
    --font-color--active: var(--font-color);
    --font-color--loading: var(--font-color);
    --background-color--hover: var(--background-color);
    --background-color--active: var(--background-color);
    --background-color--loading: var(--background-color);


    color: var(--font-color);
    text-align: center;
    // border-radius: 3px;
    // border-width: 1px;
    // border-style: none;
    // border-color: currentColor;
    background-color: var(--background-color);
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    text-decoration-color: currentColor;
    padding: 5px 10px;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    cursor: pointer;
    opacity: 1;
    
    &:hover {
        color: var(--font-color--hover);
        background-color: var(--background-color--hover);
    }

    &[data-loading=true] {
        color: var(--font-color--loading);
        background-color: var(--background-color--loading);
    }

    &[data-active=true], &:active {
        color: var(--font-color--active);
        background-color: var(--background-color--active);
    }

    &[data-disabled=true], &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.variant {
    &-default {
        --font-color: #fff;
        --font-color--hover: #999;
        --font-color--active: #fff;
        --font-color--loading: #fff;
        --background-color: #4f545c;
        --background-color--hover: #444;
        --background-color--active: #000;
        --background-color--loading: #666;
    }

    &-brand {
        --font-color: #fff;
        --background-color: #5865f2;
        --background-color--hover: #4752c4;
        --background-color--active: #3c45a5;
    }

    &-link {
        --font-color: #00aff4;
        text-decoration: underline;
        padding: 0;
    }

    &-lite {
        --font-color: #fff;
        text-decoration: underline;
        --font-color--hover: rgb(223, 223, 223);
        --font-color--active: rgb(223, 223, 223);
    }
}