.flex {
    // --position: static;
    --gap: '';
    // --margin: 0px;
    // --padding: 0px;
    --direction: '';
    --align: '';
    --justify: '';
    --grow: '';
    --shrink: '';
    --basis: '';
    // --width: 100%;
    // --height: auto;
    // --minHeight: auto;
    // --maxHeight: auto;
    // --cursor: inherit;
    // --overflowY: visible;
    // --overflowX: visible;

    display: flex;
    // position: var(--position);
    flex-direction: var(--direction);
    align-items: var(--align);
    justify-content: var(--justify);
    flex-grow: var(--grow);
    flex-shrink: var(--shrink);
    flex-basis: var(--basis);
    // width: var(--width);
    // height: var(--height);
    // top: var(--top);
    // left: var(--left);
    // min-height: var(--minHeight);
    // max-height: var(--maxHeight);
    gap: var(--gap);
    // margin: var(--margin);
    // padding: var(--padding);
    // cursor: var(--cursor);
    // overflow-y: var(--overflowY);
    // overflow-x: var(--overflowX);

    // &.invisible {
    //     pointer-events: none;
    //     opacity: 0;
    //     visibility: hidden;
    // }
}