@import "../../../node_modules/reset-css/sass/reset";
@import-normalize;



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}