{
    "extends": [
        "plugin:node/recommended"
    ],
    "env": {
        "node": true
    },
    "rules": {
        "node/no-unsupported-features/es-syntax": [
            "error",
            {
                "ignores": [
                    "modules"
                ]
            }
        ],
        "node/no-missing-import": ["error", {
            "allowModules": [],
            "resolvePaths": ["./src"],
            "tryExtensions": [".js", ".json", ".node", ".ts", ".d.ts"]
        }],
        "@typescript-eslint/no-non-null-assertion": "off"
        // "node/no-extraneous-import": "off"
    }
}