@use 'functions';



@for $i from 1 through 9 {
    $size: 100 * $i;

    .fw-#{$size} {
        font-weight: $size!important;
    }
}

@for $i from 0 through 20 {
    $size: 2 * $i + 12;

    .fs-#{$size} {
        font-size: $size + px;
        line-height: $size * 1.375 + px!important;
    }
}


.text {
    &-primary {
        color: var(--color-font-primary)!important;
    }

    &-secondary {
        color: var(--color-font-secondary)!important;
    }

    &-normal {
        color: var(--color-font-text-normal)!important;
    }

    &-muted {
        color: var(--color-font-text-muted)!important;
    }

    &-link{
        color: var(--color-font-text-link)!important;
    }

    &-error{
        color: var(--color-font-text-error)!important;
    }

    &-required{
        color: var(--color-font-required)!important;
    }
}

.uppercase {
    text-transform: uppercase!important;
}

.lowercase {
    text-transform: lowercase!important;
}