


.h {
    &-half {
        height: 50%!important;
    }

    &-full {
        height: 100%!important;
    }
}

@for $i from 0 through 100 {
    $size: 2 * $i;

    .h-#{$size} {
        height: $size + px!important;
    }
}