@use 'mixins';


@include mixins.generateSpacing(mt, margin-top);
@include mixins.generateSpacing(mr, margin-right);
@include mixins.generateSpacing(mb, margin-bottom);
@include mixins.generateSpacing(ml, margin-left);

@include mixins.generateSpacing(m, margin);

@include mixins.generateSpacing(mx, margin-left, margin-right);
@include mixins.generateSpacing(my, margin-top, margin-bottom);

.m-auto {
    margin: auto!important;
}

.mx-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}

.my-auto {
    margin-top: auto!important;
    margin-bottom: auto!important;
}