@use 'functions';



:root {
    --text-font-size: 1.6rem;
    --text-line-height: #{functions.getLineHeight(--text-font-size)};
    --chat-font-size: 1.6rem;
    --chat-line-height: #{functions.getLineHeight(--chat-font-size)};
}

html[data-chat-font-size="12"] {
    --chat-font-size: 1.2rem;
}

html[data-chat-font-size="14"] {
    --chat-font-size: 1.4rem;
}

html[data-chat-font-size="16"] {
    --chat-font-size: 1.6rem;
}

html[data-chat-font-size="18"] {
    --chat-font-size: 1.8rem;
}

html[data-chat-font-size="20"] {
    --chat-font-size: 2rem;
}