@tailwind components;



/*
    scrollbar
        simplebar-wrapper
            simplebar-placeholder
            simplebar-mask
                simplebar-offset
                    simplebar-content-wrapper
                        simplebar-content
    simplebar-track simplebar-horizontal
        simplebar-scrollbar simplebar-visible
    simplebar-track simplebar-vertical
        simplebar-scrollbar simplebar-visible
*/

@layer components {
    .scrollbar {
        --track-transition: opacity 0.2s ease-in-out;

        &[data-direction=vertical] {
            & > .simplebar-wrapper {
                & > .simplebar-mask {
                    & > .simplebar-offset {
                        padding-right: var(--scrollbar-thickness);

                        & > .simplebar-content-wrapper {
                            overflow: hidden scroll !important;
                        }
                    }
                }
            }

            & > .simplebar-horizontal {
                display: none;
            }
        }

        &[data-direction=horizontal] {
            & > .simplebar-wrapper {
                & > .simplebar-mask {
                    & > .simplebar-offset {
                        padding-bottom: var(--scrollbar-thickness);

                        & > .simplebar-content-wrapper {
                            overflow: scroll hidden !important;
                        }
                    }
                }
            }

            & > .simplebar-vertical {
                display: none;
            }
        }

        &[data-with-opposite-gutter=true] {
            &[data-direction=vertical] {
                & > .simplebar-wrapper {
                    & > .simplebar-mask {
                        & > .simplebar-offset {
                            padding-left: var(--scrollbar-thickness);
                            padding-top: 0;
                        }
                    }
                }
            }

            &[data-direction=horizontal] {
                & > .simplebar-wrapper {
                    & > .simplebar-mask {
                        & > .simplebar-offset {
                            padding-top: var(--scrollbar-thickness);
                        }
                    }
                }
            }
        }

        &[data-auto-hide=true] {
            &:not([data-is-alive=true], :hover, :focus, :focus-visible, :focus-within) {
                & > .simplebar-track {
                    opacity: 0;
                }
            }
        }

        & > .simplebar-wrapper {
            & > .simplebar-placeholder {
                display: none;
            }

            & > .simplebar-mask {
                & > .simplebar-offset {
                    & > .simplebar-content-wrapper {
                        min-height: 100%;

                        & > .simplebar-content {
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            min-width: 100%;
                            width: fit-content;
                            height: fit-content;
                            min-height: 100%;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        & > .simplebar-track {
            background-color: transparent;
            transition: var(--track-transition);

            &::before {
                // @apply bg-primary-300;
                @apply bg-green-500;

                content: '';
                position: absolute;
                inset: calc((var(--scrollbar-thickness) - var(--track-thickness)) / 2);
                border-radius: var(--track-thickness);
                transition: var(--scrollbar-transition);
            }

            & > .simplebar-scrollbar {
                background-color: transparent;
                opacity: 1;

                &::before {
                    // @apply bg-primary-600;
                    @apply bg-yellow-50;

                    opacity: 1;
                    inset: calc((var(--scrollbar-thickness) - var(--thumb-thickness)) / 2);
                    border-radius: var(--thumb-thickness);
                    transition: var(--scrollbar-transition);
                }
            }

            &.simplebar-vertical {
                width: var(--scrollbar-thickness);

                & > .simplebar-scrollbar {
                    width: var(--scrollbar-thickness);
                }
            }

            &.simplebar-horizontal {
                height: var(--scrollbar-thickness);

                & > .simplebar-scrollbar {
                    height: var(--scrollbar-thickness);
                }
            }
        }
    }
}