@tailwind components;



@layer components {
    .image-bg-fullscreen {
        @apply fixed top-0 left-0 w-screen h-screen -z-[1] object-cover object-center;
    }

    .scrollbar {
        &-primary {
            scrollbar-color: var(--color-bg-primary-300);

            &::-webkit-scrollbar {
                @apply bg-primary-300 rounded-full;
            }

            &::-webkit-scrollbar-thumb {
                @apply bg-primary-500 rounded-full;
            }
        }

        &-hidden {
            &::-webkit-scrollbar {
                @apply hidden;
            }

            scrollbar-width: none;
        }

        &-with-gutter {
            scrollbar-gutter: stable;
        }

        &-with-gutters {
            scrollbar-gutter: stable both-edges;
        }

        &-auto-hidden {
            &:not(:hover, :focus, :focus-visible, :focus-within) {
                scrollbar-color: transparent;

                &::-webkit-scrollbar {
                    @apply bg-transparent;
                }

                &::-webkit-scrollbar-thumb {
                    @apply bg-transparent;
                }
            }
        }
    }

    .focus-hidden {
        outline: none;

        &:focus-visible {
            outline: none;
        }

        &:focus-within {
            outline: none;
        }
    }

    .slider-input {
        @apply grid h-16 items-center;

        --track-size: 8px;
        --handle-width: 10px;
        --handle-height: 24px;
        --marker-size: 24px;
        --horizontal-spacing: 10px;

        .noUi-target {
            @apply bg-slider-track border-none shadow-none rounded-none;
        }

        .noUi-horizontal {
            height: var(--track-size);
        }

        .noUi-horizontal {
            .noUi-handle {
                width: var(--handle-width);
                height: var(--handle-height);
                top: calc(0px - (var(--handle-height) - var(--track-size)) / 2);
                right: calc(0px - var(--handle-width) / 2);
            }
        }

        .noUi-marker-normal {
            @apply hidden;
        }

        .noUi-connect {
            @apply bg-brand;
        }

        .noUi-connects {
            @apply rounded-md;
            width: calc(100% + var(--horizontal-spacing) * 2);
            left: calc(0px - var(--horizontal-spacing));
        }

        .noUi-marker-large {
            @apply bg-slider-track;
        }

        .noUi-marker-horizontal.noUi-marker-large {
            @apply top-0;
            height: var(--marker-size);
        }

        .noUi-handle {
            @apply cursor-ew-resize;

            &::before,
            &::after {
                @apply hidden;
            }
        }

        .noUi-value {
            @apply text-muted text-xs font-bold;
        }

        .noUi-value-horizontal {
            @apply cursor-pointer -top-1;
            transform: translate(-50%, -100%);
        }

        .noUi-pips-horizontal {
            @apply p-0 w-auto;
            top: calc(0px - (var(--marker-size) - var(--track-size)) / 2);
            height: var(--marker-size);
            left: var(--horizontal-spacing);
            right: var(--horizontal-spacing);
        }

        .noUi-base {
            @apply w-auto absolute;
            left: var(--horizontal-spacing);
            right: var(--horizontal-spacing);
        }
    }

    .color-picker {
        .react-colorful {
            width: 100%;

            &__saturation {
                @apply rounded-sm cursor-crosshair mb-2 w-full h-[150px];

                &-pointer {
                    @apply w-2 h-2;
                }
            }

            &__hue {
                @apply rounded-sm h-2;

                &-pointer {
                    @apply w-2 h-4 rounded-md border-none bg-white cursor-ew-resize;

                    .react-colorful__pointer-fill {
                        @apply hidden;
                    }
                }
            }

            &__last-control {
                @apply rounded-none;
            }
        }
    }

    .overlay-item-wrapper {
        @apply pointer-events-none fixed top-0 left-0 right-0 bottom-0;
    }

    .truncated {
        @apply text-ellipsis overflow-hidden whitespace-nowrap min-w-0;
    }
}