// https://github.com/necolas/normalize.css/blob/master/normalize.css
// https://github.com/jensimmons/cssremedy/blob/master/css/remedy.css
// https://github.com/shannonmoeller/reset-css/blob/master/reset.css


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}

*[hidden] {
    display: none;
}

menu, ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, 
blockquote:after,
q:before, 
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
    max-width: 100%;
}

audio:not([controls]) { display:none; }

picture { display: contents; }

source { display: none; }

img, svg, video, canvas {
    height: auto;
}

img { border-style: none; }

svg { overflow: hidden; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

input,
button,
textarea,
select {
    font: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

small {
    font-size: 80%;
}

html {
    font-size: 10px;
    line-height: 10px;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}