[data-theme=light] {
    --color-bg-primary-100: #ebedef;
    --color-bg-primary-200: #FFFFFF;
    --color-bg-primary-300: #F2F3F5;
    --color-bg-primary-400: #ebedef;
    --color-bg-primary-500: #E3E5E8;
    --color-bg-primary-600: #FFFFFF;

    --color-bg-hover: rgba(106, 116, 128, 0.16);
    --color-bg-active: rgba(106, 116, 128, 0.2);
    --color-bg-selected: rgba(106, 116, 128, 0.24);

    --color-bg-slider-track: #dcddde;

    --color-font-primary: #060607;
    --color-font-secondary: #4f5660;
    --color-font-normal: #2e3338;
    --color-font-muted: #5e6772;

    --color-font-rooms: #5e6772;
    --color-font-interactive-normal: #4f5660;
    --color-font-interactive-hover: #2e3338;
    --color-font-interactive-active: #060607;
    --color-font-interactive-muted: #c7ccd1;

    --icon-100: #2e3338;
    --icon-200: #4f5660;
    --icon-300: #3d4147;
}

@media (prefers-color-scheme: light) {
    [data-theme=auto] {
        --color-bg-primary-100: #ebedef;
        --color-bg-primary-200: #FFFFFF;
        --color-bg-primary-300: #F2F3F5;
        --color-bg-primary-400: #ebedef;
        --color-bg-primary-500: #E3E5E8;
        --color-bg-primary-600: #FFFFFF;

        --color-bg-hover: rgba(106, 116, 128, 0.16);
        --color-bg-active: rgba(106, 116, 128, 0.2);
        --color-bg-selected: rgba(106, 116, 128, 0.24);

        --color-bg-slider-track: #dcddde;

        --color-font-primary: #060607;
        --color-font-secondary: #4f5660;
        --color-font-normal: #2e3338;
        --color-font-muted: #5e6772;
        --color-font-link: #0068e0;
        --color-font-rooms: #5e6772;
        --color-font-interactive-normal: #4f5660;
        --color-font-interactive-hover: #2e3338;
        --color-font-interactive-active: #060607;
        --color-font-interactive-muted: #c7ccd1;

        --icon-100: #2e3338;
        --icon-200: #4f5660;
        --icon-300: #3d4147;
    }
}